@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
}

body,
p,
td,
th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

body {
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url("../img/wet_snow.png");
  margin: 0;
  min-width: 300px;
}

li,
ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  list-style: none;
  margin: 0;
}

a {
  color: orange;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0 #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center;
  display: flex;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  background-color: #fff;
  padding: 10px 40px 16px;
  font-size: 17px;
  margin: 0;
}
/* Display list items side by side */
#breadcrumb li {
  display: inline;
}
/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.o-mainContainer {
  min-height: 100%;
  margin: auto;
}

.filter-options {
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  background-color: #fff;
  h2 {
    margin:0;
  }
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

.a-mapContainer {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
/* ====================== Restaurant v-card ====================== */
.m-restaurantContainer {
  display: flex;
}

.a-restaurantImgWrapper {
  position: relative;
}

.a-restaurantDetails,
.a-restaurantImgWrapper {
  width: 50%;

}
.a-restaurantImg {
  width: 100%;
  margin-top: 0.75rem;
}

.a-restaurantName {
  background-color: #fff;
  padding: 5px 20px;
  position: absolute;
  top: 5px;
  left: 20px;
}

.a-restaurantImgWrapper,
.m-reviewsList,
.a-reviewsHeader {
  padding: 0 3rem;
}
.a-cuisineType {
  font-weight: bold;
  font-style: italic;
  font-size: 1.1em;
}

/* MEDIA QUERIES*/
@media only screen and (max-width: 768px) {
// index.html
.m-restaurantList {
  padding: 0;
}
  .m-restaurantList__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto auto 1rem auto;
  }
  .a-restaurantList__img {
    width: 90%;
    padding: 5%;
    border: 1px solid grey;
    background-color: #fff;
}

// restaurant.html
  .m-restaurantContainer {
    flex-direction: column;
  }

  .a-restaurantImgWrapper,
  .a-restaurantName {
    position: static;
  }

  .a-restaurantDetails,
  .a-restaurantImgWrapper {
    width: 100%;
    margin: 0;
  }

  .a-restaurantDetails {
    padding: 0 3rem;
  }

  .a-restaurantImgWrapper {
    text-align: center;
  }
  .a-restaurantImg {
    width: 100%;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  // index.html
    .m-restaurantList__wrapper,
    .a-restaurantList__img {
      width: 100%;
    }
  .a-restaurantList__img {
    padding: 0;
    border: 0;
  }
  .m-restaurantList,
  // restaurant.html
  .a-restaurantDetails,
  .a-restaurantImgWrapper,
  .m-reviewsList,
  .a-reviewsHeader {
    padding: 0 1.5rem;
  }
}
/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
  // index.html
    .m-restaurantList__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: auto auto 1.5rem auto;
    }

    .a-restaurantList__img {
      width: 100%;
      padding: 5%;
      border: 1px solid grey;
      background-color: #fff;
    }

  .m-reviewsList, .m-restaurantList {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    li {
      display: inline-block;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .o-mainContainer {
    max-width: 800px;
  }

  .m-restaurantList,
  .a-restaurantDetails,
  .a-restaurantImgWrapper,
  .m-reviewsList,
  .a-reviewsHeader {
    padding: 0;
  }

  .a-restaurantImgWrapper,
  .m-reviewsList li {
    padding-right: 3rem;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .o-mainContainer {
    max-width: 1000px;
  }
}
